:root {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  
}

* {
  font-family: inherit;
}

.body {
  width: 100%;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
